<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block代码块.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Block和typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Block注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Block的一个应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Copy与Property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Copy内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>Copy基本使用(深浅拷贝).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>IOSTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MBProgressHUD的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>MJExtensionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>MJExtensionTest2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>NSArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>NSArray和字符串互转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>NSArray排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>NSArray文件读写.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>NSCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>NSDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>NSDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>NSFileManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>NSMutableArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>NSMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>NSMutableString常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>NSMutableString的一个练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>NSValue包装结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Object-c-Test.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SEL类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>copy内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>description方法.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>iOS-Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>id动态数据类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>instancetype和id的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ios的启动过程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>kvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>kvo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>new实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>new实现远离.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>plist 存储.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>property增强.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>self关键字.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>self关键字2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>synthesize指令.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>transform 的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>view的懒加载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>代理设计模式练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>代理设计模式规范.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>偏好设置.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>冒泡排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>分类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>协议基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>协议应用2:代理设计模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>协议应用场景(类型限定).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>单例(ARC下).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>单例(MRC下).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>多态.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>字符串和路径.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>字符串截取.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>字符串截取2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>字符串搜索.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>字符串替换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>字符串比较.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>字符串的转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>字符串练习1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>字符串练习2：读写文件.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>宏定义抽取单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>实例变量修饰符.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>常用结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>归档.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>折半查找.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>数组对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>数组的遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>枚举.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>点语法.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>私有变量和私有方法.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>类型常量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>类工厂方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>类的启动过程.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>给数组中的所有对象发送消息.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>自定义国旗时间和省份选择器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>自定义构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>自定义类实现Copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>计算一个文件夹下面所有文件的大小.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>读写文件练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>转换所有进制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>选择排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>通知.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>180363BF1C0758120081E3AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1804ABE71C05FC6700952737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1808E5281C2F7F4A006ED967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1808E5331C2F8CF1006ED967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1808E53E1C2FA65A006ED967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1808E5491C2FA86E006ED967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180B5A0E1C75AA2600EC0B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180B5AE61C76DA5400EC0B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1815837D1C5B12D500A410A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181C937C1C7B1A380020925E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181C939A1C7B20B20020925E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181C93B51C7B248D0020925E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181C94611C7F10D00020925E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181C947C1C7F13770020925E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181C94971C7F14490020925E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182214CE1C1BC4030061A82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182549E71C16B53D008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182549F21C16B993008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182549FD1C16BE14008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18254A081C16CA9C008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18254A131C16D39D008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18254A1E1C170C6A008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18254A291C171784008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18254A341C172E0C008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18254A421C1733CF008B5134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18264E2D1C8980160037D52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18264E5E1C898E900037D52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182650001C8ABC5A0037D52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1826505A1C8AC1D70037D52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>182C92D11BFCC191008180BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183150AA1C427D180091C55A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1837CDE01C5E360500A8799F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1837CE121C5E3B7100A8799F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183870F21C151E1A001D1635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA38B1C17B108008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3991C17DB41008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3A71C17F606008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3B21C17FCED008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3C01C181CBD008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3CB1C184329008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3D61C185AAD008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3E11C186EDC008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3EC1C187A29008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183AA3F71C188F81008D1626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1840A1621C049C41006523A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1840A1701C04AC71006523A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184216BB1C0DC88A001F5A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184216C91C0DD3AC001F5A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18461C761C168E8000903984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18471BD51C1AB5D9004770DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184FFB2B1C0B4C1900810C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184FFB361C0B525400810C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184FFB411C0B57EB00810C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18519E7F1C1471F30058D2D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185C16641C073773006F3F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185D0CF71C1D0BF800A8FB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185D0D081C1D2C6B00A8FB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185D0D161C1D398D00A8FB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185D0D241C1D43F100A8FB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185D0D371C1D6C1E00A8FB22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1865FAF61C1580E20080BFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1865FB011C15D08C0080BFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186734221C035C8B00B93788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186734331C036CA900B93788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186B14141C1C181C008F12E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186D12391C1075F300D8B4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186D124A1C107DAE00D8B4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186ECFB31C09E3BF00E0A4BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186ECFC11C09EB6200E0A4BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186ECFCF1C0A016E00E0A4BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189405461C01BFAB00DD5D49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189405541C01E76800DD5D49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189405621C01ED9900DD5D49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189405731C021D1200DD5D49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189473CF1C075593004A00CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189494231C005987006196DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1894943E1C005987006196DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189494491C005987006196DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BE8B791C0ADE430078617C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BE8B871C0AE95C0078617C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C1B0CF1C0F376600FB5482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C1F77A1C191A0E009561EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C1F7851C19B1C3009561EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C1F7901C19DA87009561EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C8ABC31C0F21C10094BD01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CA65E21C1C209C00C416F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CA65ED1C1C21BD00C416F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CA66051C1C21BD00C416F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CA66101C1C21BD00C416F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18CA66241C1C4BFF00C416F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D0FDC61C05E486007C14E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D574DD1C6395BB00320DB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DB45AF1C267D07001EBD31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E1659D1C583FC900B99A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E165AB1C5840C900B99A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18FBC89B1C2EDB8D001911AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
